name: First Workflow
on: [push, workflow_dispatch]
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get info
        run: |
          hostname
          pwd
          ls -l /
      - name: Create a file
        run: |
            ls -al 
            echo "One line" | tee myFile.log
            ls -al
      - name: A final step
        run: ls -al
  second-job: 
      runs-on: ubuntu-latest
      env:
        MY_ENV_VAR: "this is the end"
      steps:
        - name: check file there
          run: |
            hostname
            pwd
            ls -al
        - name: Test environnement variable
          run: |
            echo "Value: ${{ env.MY_ENV_VAR }}"
        - name: Test secret variable
          run: |
            echo "Value: ${{ secrets.MY_SECRET_VAR }}"